Source: trilinos
Homepage: http://trilinos.org
Section: science
Priority: extra
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Nico Schlömer <nico.schloemer@gmail.com>
# Trilinos can use Ubuntu's serial netCDF as well.
Build-Depends: debhelper (>= 9),
 binutils-dev,
 libiberty-dev,
 cmake,
 gfortran,
 libopenmpi-dev,
 libblas-dev,
 libboost-dev,
 libboost-system-dev,
 libeigen3-dev,
 libhdf5-openmpi-dev (>= 1.8.7),
 liblapack-dev,
 libmatio-dev (>= 1.5.0),
 libmumps-dev (>= 4.7.3),
 libnetcdfc-dev (>= 4.2.0),
 libptscotch-dev,
 libtbb-dev,
 zlib1g-dev
Standards-Version: 3.9.5
Vcs-Git: git://git.debian.org/debian-science/trilinos.git
Vcs-Browser: http://git.debian.org/?p=debian-science/trilinos.git;a=summary

Package: libtrilinos
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: object-oriented framework for large-scale problems
 The Trilinos Project is an effort to develop algorithms and enabling
 technologies within an object-oriented software framework for the
 solution of large-scale, complex multi-physics engineering and
 scientific problems. A unique design feature of Trilinos is its
 focus on packages.
 .
 This package contains the dynamic libraries.

Package: libamesos
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: amesos
 .
 This package contains the dynamic libraries.

Package: libamesos-dev
Architecture: any
Section: libdevel
Depends: libamesos (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: amesos
 .
 This package provides headers.

Package: libanasazi
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: anasazi
 .
 This package contains the dynamic libraries.

Package: libanasazi-dev
Architecture: any
Section: libdevel
Depends: libanasazi (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: anasazi
 .
 This package provides headers.

Package: libaztecoo
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: aztecoo
 .
 This package contains the dynamic libraries.

Package: libaztecoo-dev
Architecture: any
Section: libdevel
Depends: libaztecoo (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: aztecoo
 .
 This package provides headers.

Package: libbelos
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: belos
 .
 This package contains the dynamic libraries.

Package: libbelos-dev
Architecture: any
Section: libdevel
Depends: libbelos (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: belos
 .
 This package provides headers.

Package: libepetra
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: epetra
 .
 This package contains the dynamic libraries.

Package: libepetra-dev
Architecture: any
Section: libdevel
Depends: libepetra (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: epetra
 .
 This package provides headers.

Package: libepetraext
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: epetraext
 .
 This package contains the dynamic libraries.

Package: libepetraext-dev
Architecture: any
Section: libdevel
Depends: libepetraext (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: epetraext
 .
 This package provides headers.

Package: libfei
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fei
 .
 This package contains the dynamic libraries.

Package: libfei-dev
Architecture: any
Section: libdevel
Depends: libfei (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: fei
 .
 This package provides headers.

Package: libgaleri
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: galeri
 .
 This package contains the dynamic libraries.

Package: libgaleri-dev
Architecture: any
Section: libdevel
Depends: libgaleri (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: galeri
 .
 This package provides headers.

Package: libintrepid
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: intrepid
 .
 This package contains the dynamic libraries.

Package: libintrepid-dev
Architecture: any
Section: libdevel
Depends: libintrepid (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: intrepid
 .
 This package provides headers.

Package: libifpack
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ifpack
 .
 This package contains the dynamic libraries.

Package: libifpack-dev
Architecture: any
Section: libdevel
Depends: libifpack (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: ifpack
 .
 This package provides headers.

Package: libisorropia
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: isorropia
 .
 This package contains the dynamic libraries.

Package: libisorropia-dev
Architecture: any
Section: libdevel
Depends: libisorropia (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: isorropia
 .
 This package provides headers.

Package: libkokkos
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: kokkos
 .
 This package contains the dynamic libraries.

Package: libkokkos-dev
Architecture: any
Section: libdevel
Depends: libkokkos (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: kokkos
 .
 This package provides headers.

Package: libml
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ml
 .
 This package contains the dynamic libraries.

Package: libml-dev
Architecture: any
Section: libdevel
Depends: libml (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: ml
 .
 This package provides headers.

Package: libnox
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: nox
 .
 This package contains the dynamic libraries.

Package: libnox-dev
Architecture: any
Section: libdevel
Depends: libnox (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: nox
 .
 This package provides headers.

Package: libpamgen
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: pamgen
 .
 This package contains the dynamic libraries.

Package: libpamgen-dev
Architecture: any
Section: libdevel
Depends: libpamgen (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: pamgen
 .
 This package provides headers.

Package: librtop
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: rtop
 .
 This package contains the dynamic libraries.

Package: librtop-dev
Architecture: any
Section: libdevel
Depends: librtop (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: rtop
 .
 This package provides headers.

Package: libsacado
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: sacado
 .
 This package contains the dynamic libraries.

Package: libsacado-dev
Architecture: any
Section: libdevel
Depends: libsacado (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: sacado
 .
 This package provides headers.

Package: libseacas
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: seacas
 .
 This package contains the dynamic libraries.

Package: libseacas-dev
Architecture: any
Section: libdevel
Depends: libseacas (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: seacas
 .
 This package provides headers.

Package: libshards
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: shards
 .
 This package contains the dynamic libraries.

Package: libshards-dev
Architecture: any
Section: libdevel
Depends: libshards (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: shards
 .
 This package provides headers.

Package: libstk
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: stk
 .
 This package contains the dynamic libraries.

Package: libstk-dev
Architecture: any
Section: libdevel
Depends: libstk (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: stk
 .
 This package provides headers.

Package: libstratimikos
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: stratimikos
 .
 This package contains the dynamic libraries.

Package: libstratimikos-dev
Architecture: any
Section: libdevel
Depends: libstratimikos (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: stratimikos
 .
 This package provides headers.

Package: libteko
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: teko
 .
 This package contains the dynamic libraries.

Package: libteko-dev
Architecture: any
Section: libdevel
Depends: libteko (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: teko
 .
 This package provides headers.

Package: libteuchos
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: teuchos
 .
 This package contains the dynamic libraries.

Package: libteuchos-dev
Architecture: any
Section: libdevel
Depends: libteuchos (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: teuchos
 .
 This package provides headers.

Package: libthyra
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: thyra
 .
 This package contains the dynamic libraries.

Package: libthyra-dev
Architecture: any
Section: libdevel
Depends: libthyra (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: thyra
 .
 This package provides headers.

Package: libtpi
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tpi
 .
 This package contains the dynamic libraries.

Package: libtpi-dev
Architecture: any
Section: libdevel
Depends: libtpi (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: tpi
 .
 This package provides headers.

Package: libtpetra
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tpetra
 .
 This package contains the dynamic libraries.

Package: libtpetra-dev
Architecture: any
Section: libdevel
Depends: libtpetra (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: tpetra
 .
 This package provides headers.

Package: libtrilinoscouplings
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: trilinoscouplings
 .
 This package contains the dynamic libraries.

Package: libtrilinoscouplings-dev
Architecture: any
Section: libdevel
Depends: libtrilinoscouplings (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: trilinoscouplings
 .
 This package provides headers.

Package: libtriutils
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: triutils
 .
 This package contains the dynamic libraries.

Package: libtriutils-dev
Architecture: any
Section: libdevel
Depends: libtriutils (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: triutils
 .
 This package provides headers.

Package: libxpetra
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: xpetra
 .
 This package contains the dynamic libraries.

Package: libxpetra-dev
Architecture: any
Section: libdevel
Depends: libxpetra (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: xpetra
 .
 This package provides headers.

Package: libzoltan
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: zoltan
 .
 This package contains the dynamic libraries.

Package: libzoltan-dev
Architecture: any
Section: libdevel
Depends: libzoltan (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: zoltan
 .
 This package provides headers.

Package: trilinos-dbg
Architecture: any
Section: debug
Depends: ${shlibs:Depends}, ${misc:Depends}, libtrilinos (= ${binary:Version})
Suggests: libtrilinos-doc
Description: object-oriented framework for large-scale problems
 The Trilinos Project is an effort to develop algorithms and enabling
 technologies within an object-oriented software framework for the
 solution of large-scale, complex multi-physics engineering and
 scientific problems. A unique design feature of Trilinos is its
 focus on packages.
 .
 These libraries are built with debug symbols. They are useful to debug
 programs which use Trilinos. These must be used also at build/link time.

Package: python-pytrilinos
Section: python
Architecture: any
X-Python-Version: >= 2.2
Depends: python-numpy, ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: object-oriented framework for large-scale problems
 The Trilinos Project is an effort to develop algorithms and enabling
 technologies within an object-oriented software framework for the
 solution of large-scale, complex multi-physics engineering and
 scientific problems. A unique design feature of Trilinos is its
 focus on packages.
 .
 This package contains the Python bindings for Trilinos.

Package: trilinos-doc
Homepage: http://trilinos.sandia.gov/documentation.html
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: object-oriented framework for large-scale problems
 The Trilinos Project is an effort to develop algorithms and enabling
 technologies within an object-oriented software framework for the
 solution of large-scale, complex multi-physics engineering and
 scientific problems. A unique design feature of Trilinos is its
 focus on packages.
 .
 This is documentation for the Trilinos libraries in HTML format.
 Some pages point to header files provided in the corresponding -dev package,
 so it is suggested to install the latter as well.

Package: trilinos
Architecture: any
Section: math
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libtrilinos-doc
Description: object-oriented framework for large-scale problems
 The Trilinos Project is an effort to develop algorithms and enabling
 technologies within an object-oriented software framework for the
 solution of large-scale, complex multi-physics engineering and
 scientific problems. A unique design feature of Trilinos is its
 focus on packages.
 .
 This package contains the executable binaries.
