Source: netcdfc
Homepage: http://www.unidata.ucar.edu/software/netcdf/
Section: science
Priority: extra
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Nico Schlömer <nico.schloemer@gmail.com>
Build-Depends: debhelper (>= 9),
 cmake (>= 2.8.8),
 libopenmpi-dev,
 libhdf5-mpi-dev (>= 1.8.6),
 libcurl4-openssl-dev,
 m4
Standards-Version: 3.9.5
#Vcs-Git: git://git.debian.org/collab-maint/trilinos.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/trilinos.git;a=summary

Package: libnetcdfc
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: creation, access, and sharing of array-oriented scientific data
 NetCDF (network Common Data Form) is a set of interfaces for array-oriented
 data access and a freely distributed collection of data access libraries for
 C, Fortran, C++, Java, and other languages. The netCDF libraries support a
 machine-independent format for representing scientific data. Together, the
 interfaces, libraries, and format support the creation, access, and sharing of
 scientific data.
 .
 This package contains the dynamic libraries.

Package: libnetcdfc-dev
Architecture: any
Section: libdevel
Depends: libnetcdfc (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Replaces: libnetcdf-dev
Description: creation, access, and sharing of array-oriented scientific data
 NetCDF (network Common Data Form) is a set of interfaces for array-oriented
 data access and a freely distributed collection of data access libraries for
 C, Fortran, C++, Java, and other languages. The netCDF libraries support a
 machine-independent format for representing scientific data. Together, the
 interfaces, libraries, and format support the creation, access, and sharing of
 scientific data.
 .
 This package provides headers.

Package: libnetcdfc-dbg
Architecture: any
Section: debug
Depends: libnetcdfc (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libnetcdfc-doc
Description: creation, access, and sharing of array-oriented scientific data
 NetCDF (network Common Data Form) is a set of interfaces for array-oriented
 data access and a freely distributed collection of data access libraries for
 C, Fortran, C++, Java, and other languages. The netCDF libraries support a
 machine-independent format for representing scientific data. Together, the
 interfaces, libraries, and format support the creation, access, and sharing of
 scientific data.
 .
 These libraries are built with debug symbols. They are useful to debug
 programs which use Trilinos. These must be used also at build/link time.

Package: netcdfc-bin
Architecture: any
Section: science
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libnetcdfc-doc
Description: creation, access, and sharing of array-oriented scientific data
 NetCDF (network Common Data Form) is a set of interfaces for array-oriented
 data access and a freely distributed collection of data access libraries for
 C, Fortran, C++, Java, and other languages. The netCDF libraries support a
 machine-independent format for representing scientific data. Together, the
 interfaces, libraries, and format support the creation, access, and sharing of
 scientific data.
 .
 This package contains the executable binaries.
