#!/usr/bin/make -f
# -*- makefile -*-

# dirnames deviate from package names...
LIB_PACKAGES = \
    amesos \
    anasazi \
    aztecoo \
    belos \
    epetra \
    epetraext \
    fei \
    galeri \
    intrepid \
    ifpack \
    isorropia \
    kokkos \
    ml \
    nox \
    pamgen \
    rtop \
    sacado \
    seacas \
    shards \
    stk \
    stratimikos \
    teko \
    teuchos \
    tpetra \
    thyra \
    trilinoscouplings \
    triutils \
    xpetra \
    zoltan

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

clean:
	rm -f *-stamp
	dh clean

override_dh_python2:
	dh_python2 --no-guessing-versions

override_dh_auto_configure: configure-stamp

configure-stamp:
	dh_auto_configure -- \
   -DCMAKE_C_COMPILER=mpicc \
   -DCMAKE_CXX_COMPILER=mpicxx \
   -DCMAKE_Fortran_COMPILER=mpif90 \
   -DBUILD_SHARED_LIBS:BOOL=ON \
   -DCMAKE_SKIP_RPATH:BOOL=ON \
   -DTrilinos_INSTALL_INCLUDE_DIR:PATH=include/trilinos/ \
   -DTrilinos_ENABLE_DEVELOPMENT_MODE:BOOL=OFF \
   -DTrilinos_ENABLE_ALL_PACKAGES:BOOL=ON \
   -DTrilinos_ENABLE_SECONDARY_STABLE_CODE:BOOL=ON \
   -DTrilinos_ASSERT_MISSING_PACKAGES:BOOL=OFF \
   -DTrilinos_ENABLE_MueLu:BOOL=OFF \
   -DTrilinos_ENABLE_Optika:BOOL=OFF \
   -DTrilinos_ENABLE_Panzer:BOOL=OFF \
   -DTrilinos_ENABLE_PyTrilinos:BOOL=OFF \
   -DTrilinos_ENABLE_TriKota:BOOL=OFF \
   -DTrilinos_ENABLE_EXAMPLES:BOOL=OFF \
   -DTrilinos_ENABLE_TESTS:BOOL=OFF \
   -DThyra_ENABLE_ME_POLYNOMIAL:BOOL=OFF \
   -DTPL_ENABLE_BinUtils:BOOL=ON \
   -DTPL_ENABLE_Boost:BOOL=ON \
   -DTPL_ENABLE_Eigen:BOOL=ON \
     -DTPL_Eigen_INCLUDE_DIRS:PATH=/usr/include/eigen3/ \
   -DTPL_ENABLE_HDF5:BOOL=ON \
   -DTPL_ENABLE_MATLAB:BOOL=OFF \
   -DTPL_ENABLE_MPI:BOOL=ON \
   -DTPL_ENABLE_MUMPS:BOOL=ON \
   -DTPL_ENABLE_ParMETIS:BOOL=OFF \
   -DTPL_ENABLE_Scotch:BOOL=ON \
     -DTPL_Scotch_INCLUDE_DIRS:PATH=/usr/include/scotch/ \
   -DTPL_ENABLE_TBB:BOOL=ON \
   -DTPL_ENABLE_X11:BOOL=OFF \
   -DTPL_ENABLE_Zlib:BOOL=ON
	touch $@

ARCH=$(shell arch)
BUILDDIR=obj-$(ARCH)-linux-gnu

override_dh_auto_install: auto_install-stamp
auto_install-stamp:
	for i in $(LIB_PACKAGES); do \
	  $(MAKE) -C $(BUILDDIR)/packages/$$i install DESTDIR=$(CURDIR)/debian/tmp_$$i || exit 1; \
	done
	$(MAKE) -C $(BUILDDIR)/packages/ThreadPool install DESTDIR=$(CURDIR)/debian/tmp_tpi
	touch $@

override_dh_install: install-stamp
install-stamp: auto_install-stamp
	for i in $(LIB_PACKAGES) tpi; do \
	  dh_install --sourcedir=debian/tmp_$$i -plib$$i usr/lib/*.so.* || exit 1; \
	  dh_install --sourcedir=debian/tmp_$$i -plib$$i-dev --autodest usr/include usr/lib/*.so usr/lib/cmake || exit 1; \
	done
	# BUG in galeri
	rm debian/libgaleri-dev/usr/include/trilinos/iohb.h
	touch $@

override_dh_strip:
	dh_strip -a --dbg-package=trilinos-dbg

.PHONY: override_dh_auto_configure override_dh_auto_install override_dh_install
