#!/usr/bin/make -f
# -*- makefile -*-

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

# need -, because some names end with number
SOVERSION=11

# dirnames deviate from package names...
LIB_PACKAGES = \
    amesos \
    amesos2 \
    anasazi \
    aztecoo \
    belos \
    epetra \
    epetraext \
    fei \
    galeri \
    globipack \
    intrepid \
    ifpack \
    ifpack2 \
    intrepid \
    isorropia \
    kokkos \
    komplex \
    mesquite \
    ml \
    moertel \
    moocho \
    muelu \
    nox \
    optipack \
    pamgen \
    phalanx \
    piro \
    pliris \
    rtop \
    rythmos \
    sacado \
    seacas \
    shards \
    stk \
    stokhos \
    stratimikos \
    teko \
    teuchos \
    thyra \
    tpetra \
    trilinoscouplings \
    triutils \
    xpetra \
    zoltan \
    zoltan2

SEACAS_BINARIES = \
    fastq mapvar aprepro grope decomp sphgen gen3d exodiff blot algebra io_shell \
    genshell exomatlab io_info grepos shell_to_hex nem_spread mat2exo \
    numbers mapvar-kd cth_pressure_map exotxt ejoin txtexo epu gjoin nem_slice \
    exo2mat conjoin

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

clean:
	rm -f *-stamp
	rm -rf debian/tmp_*
	dh clean

override_dh_auto_build:
	dh_auto_build --parallel

override_dh_auto_configure: configure-stamp

configure-stamp:
	dh_auto_configure -- \
   -DCMAKE_C_COMPILER=mpicc \
   -DCMAKE_CXX_COMPILER=mpicxx \
   -DCMAKE_Fortran_COMPILER=mpif90 \
   -DBUILD_SHARED_LIBS:BOOL=ON \
   -DCMAKE_SKIP_RPATH:BOOL=ON \
   -DTrilinos_LIBRARY_NAME_PREFIX:STRING="trilinos_" \
   -DTrilinos_INSTALL_INCLUDE_DIR:PATH=include/trilinos/ \
   -DTrilinos_USE_GNUINSTALLDIRS:BOOL=ON \
   -DTrilinos_ENABLE_DEVELOPMENT_MODE:BOOL=OFF \
   -DTrilinos_ENABLE_ALL_PACKAGES:BOOL=ON \
   -DTrilinos_ENABLE_SECONDARY_TESTED_CODE:BOOL=ON \
   -DTrilinos_ASSERT_MISSING_PACKAGES:BOOL=OFF \
   -DTrilinos_ENABLE_Didasko:BOOL=OFF \
   -DTrilinos_ENABLE_Gtest:BOOL=OFF \
   -DTrilinos_ENABLE_Optika:BOOL=OFF \
   -DTrilinos_ENABLE_Panzer:BOOL=OFF \
   -DTrilinos_ENABLE_PyTrilinos:BOOL=OFF \
   -DTrilinos_ENABLE_STKClassic:BOOL=OFF \
   -DTrilinos_ENABLE_STKDoc_tests:BOOL=OFF \
   -DTrilinos_ENABLE_STKSearch:BOOL=OFF \
   -DTrilinos_ENABLE_STKUnit_tests:BOOL=OFF \
   -DTrilinos_ENABLE_TriBITS:BOOL=OFF \
   -DTrilinos_ENABLE_EXAMPLES:BOOL=OFF \
   -DTrilinos_ENABLE_TESTS:BOOL=OFF \
   -DSEACASExodus_PARALLEL_AWARE:BOOL=ON \
   -DTPL_ENABLE_BinUtils:BOOL=ON \
   -DTPL_ENABLE_Boost:BOOL=ON \
   -DTPL_ENABLE_HDF5:BOOL=ON \
   -DTPL_ENABLE_MATLAB:BOOL=OFF \
   -DTPL_ENABLE_Matio:BOOL=OFF \
   -DTPL_ENABLE_MPI:BOOL=ON \
   -DTPL_ENABLE_MUMPS:BOOL=ON \
   -DTPL_ENABLE_ParMETIS:BOOL=OFF \
   -DTPL_ENABLE_Scotch:BOOL=ON \
     -DTPL_Scotch_INCLUDE_DIRS:PATH=/usr/include/scotch/ \
   -DTPL_ENABLE_TBB:BOOL=ON \
   -DTPL_ENABLE_X11:BOOL=OFF \
   -DTPL_ENABLE_Zlib:BOOL=ON
	touch $@

ARCH=$(shell arch)
BUILDDIR=obj-$(ARCH)-linux-gnu

override_dh_auto_install: auto_install-stamp
auto_install-stamp:
	for i in $(LIB_PACKAGES); do \
	  $(MAKE) -C $(BUILDDIR)/packages/$$i install DESTDIR=$(CURDIR)/debian/tmp_$$i || exit 1; \
	done
	$(MAKE) -C $(BUILDDIR)/packages/CTrilinos install DESTDIR=$(CURDIR)/debian/tmp_ctrilinos
	$(MAKE) -C $(BUILDDIR)/packages/Sundance install DESTDIR=$(CURDIR)/debian/tmp_sundance
	$(MAKE) -C $(BUILDDIR)/packages/ThreadPool install DESTDIR=$(CURDIR)/debian/tmp_tpi
	$(MAKE) -C $(BUILDDIR) install/local DESTDIR=$(CURDIR)/debian/tmp_trilinos-dev
	touch $@

TV = SIERRA/bjam/config_headers/Trilinos_version.h
V = $(shell grep '\#define TRILINOS_MAJOR_VERSION ' $(TV) | cut -d' ' -f3)
MV = $(shell grep '\#define TRILINOS_MAJOR_MINOR_VERSION ' $(TV) | cut -d' ' -f3)

debian/Trilinos_version.h: debian/Trilinos_version.h.in auto_install-stamp
	test -f $(TV)
	sed -e 's/%V/$(V)/' \
	    -e 's/%MV/$(MV)/' $< > $@

override_dh_install: install-stamp
install-stamp: SHELL=/bin/bash
install-stamp: auto_install-stamp debian/Trilinos_version.h
	dh_install --sourcedir=debian/tmp_seacas -pseacas "usr/bin/*" usr/lib/seacas
	# no exodus.py (for now?)
	rm -f debian/seacas/usr/lib/seacas/exodus.py
	install -d debian/seacas/usr/lib/seacas
	install debian/seacas-wrapper debian/seacas/usr/lib/seacas/seacas
	@for i in $(SEACAS_BINARIES); do \
		cmd="dh_link -pseacas usr/lib/seacas/seacas usr/bin/seacas-$$i"; \
		echo $$cmd; $$cmd; \
	done
	@for i in $(LIB_PACKAGES) ctrilinos sundance tpi; do \
	  echo "dh_install --sourcedir=debian/tmp_$$i -plibtrilinos-$${i/2/2-}"$(SOVERSION)" usr/lib/*/*.so.*"; \
	  dh_install --sourcedir=debian/tmp_$$i -plibtrilinos-$${i/2/2-}"$(SOVERSION)" usr/lib/*/*.so.* || exit 1; \
	  echo "dh_install --sourcedir=debian/tmp_$$i -plibtrilinos-$$i-dev --autodest usr/include usr/lib/*/*.so usr/lib/*/cmake"; \
	  dh_install --sourcedir=debian/tmp_$$i -plibtrilinos-$$i-dev --autodest usr/include usr/lib/*/*.so usr/lib/*/cmake || exit 1; \
	  if grep -q "^lib$$i\>" debian/lintian-override; then \
	    install -d debian/lib$${i/2/2-}$(SOVERSION)/usr/share/lintian/overrides; \
	    grep "^lib$${i/2/2-}%V\>" debian/lintian-override |\
		   sed -e 's/%V/$(SOVERSION)/g' > debian/lib$${i/2/2-}$(SOVERSION)/usr/share/lintian/overrides/lib$${i/2/2-}$(SOVERSION); \
	  fi \
	done
	# BUG. get rid of Trilinos_version.h
	-find debian/lib*-dev -name Trilinos_version.h -delete -print -printf 'deleting bogus header %p'
	for i in `grep -l Trilinos_version\.h debian/lib*-dev/usr/include/trilinos/*ersion*`; do \
		echo fixing header $$i; \
		sed -e '/Trilinos_version/,$$d' $$i > debian/htmp; \
		cat debian/Trilinos_version.h >> debian/htmp; \
		sed -e '1,/Trilinos_version/d' $$i >> debian/htmp; \
		mv debian/htmp $$i; \
	done
	dh_install --sourcedir=debian/tmp_trilinos-dev -ptrilinos-dev --autodest usr/include usr/lib/*/cmake -V foo=bar
	@for i in $(SEACAS_BINARIES); do \
	    cmd="dh_link -p seacas usr/share/man/man1/seacas.1 usr/share/man/man1/seacas-$$i.1"; \
	    echo $$cmd; $$cmd; \
	done
	touch $@

override_dh_prep:
	dh_prep
	echo mydevpackages=$(LIB_PACKAGES:%=libtrilinos-%-dev,) libtrilinos-ctrilinos-dev, libtrilinos-sundance-dev, libtrilinos-tpi-dev > debian/trilinos-dev.substvars

override_dh_strip:
	dh_strip -a --dbg-package=trilinos-dbg
	# file without symbols (dummy example)
	-rm debian/trilinos-dbg/usr/lib/debug/.build-id/dd/483200a8f68d09c0bc6f23adfa2954c8756eff.debug

.PHONY: override_dh_auto_configure override_dh_auto_install override_dh_install
